{{ ssh_config_header }}
{% if (ssh_config_d_files is defined) and ssh_config_d_files %}
##########################
# .ssh/config.d Includes #
##########################
Host *
{% for config in ssh_config_d_files %}
  Include ~/.ssh/config.d/{{ config }}
{% endfor %}
{% endif %}
{% if (ssh_config_extras is defined) and ssh_config_extras %}
{{ ssh_config_extras }}
{% endif %}
{{ ssh_config_footer }}